// Colors

$primary-color : #4cc99c;
$primary-hover : #34AE82;
$secondary-color : #fafafa;

// Font Families

$primary-font : Georgia, serif;
$secondary-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;
