// Colors
$primary-color: #4cc99c;
$secondary-color: #fafafa;
$highlight-color: #34AE82;

// Font Families
$primary-font: 'Roboto', 'Helvetica Neue', sans-serif;
$secondary-font: 'Roboto', 'Helvetica Neue', sans-serif;
