.site-branding {
	float: left;
	max-width: 75%;
}

.primary-navigation {
	font-size: 15px;

	ul {
		display: none;
		transition: all 0.2s ease;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.nav-menu {
		padding-top: 20px;
	}

	li {
		position: relative;
	}

	a {
		padding: 12px 10px 12px 0;
		display: block;
		text-decoration: none;
		color: #555;
		border-top: 1px solid #eee;
	}

	.menu-item-has-children > a {
		padding-right:30px;
	}

	.menu-container {
		clear: both;
	}

	ul ul {
		border-top: none;
	}

	ul ul a {
		padding-left: 40px;
	}
}

.dropdown-toggle {
	display: inline-block;
	position: absolute;
	right: 8px;
	top: 8px;
	height: 36px;
	width: 36px;
	cursor: pointer;

	&:after {
		font-family: 'focus-icons';
		font-size: 14px;
		line-height: 1;
		content: '\f0d7';
		position: absolute;
		right: 50%;
		margin-right: -4px;
		top: 50%;
		margin-top: -7px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		cursor: pointer;
		transition: transform .2s ease-in-out;
	}
}

/* Mobile Toggle
-------------------------------------------------------------- */

.menu-toggle {
	background: none;
	line-height: 1;
	cursor: pointer;
	float: right;
	padding: 12px 10px 12px 0;

	&:hover {
		background: none;
	}

	&:before {
		font-family: 'focus-icons';
		content: '\f0c9';
		speak: none;
		display: inline-block;
		margin-right: 10px;
	}

	&:focus {
		box-shadow: none;
		border: none;
	}
}

/* Small Screen Sizes */
@media screen and ( max-width: 1039px ) {

	.dropdown-toggle.toggled:after {
		transform: rotate(180deg);
	}

}

/* Large Screen Sizes */
@media screen and ( min-width: 1040px ) {

	.site-branding {
		max-width: 50%;
	}

	.primary-navigation {
		clear: none;
		max-width: 50%;
		float: right;

		.nav-menu {
			padding-top: 0;
		}

	}

	.site-description-active .primary-navigation {
		margin-top: 3px;
	}

	.menu-toggle {
		display: none;
	}

	.dropdown-toggle {
		display: none;
	}

	.primary-navigation {
		ul {
			border: none;
			display: block;
		}

		li {
			display: inline-block;
			margin-right: 10px;
		}

		a {
			display: inline-block;
			border: none;
		}

		.menu-item-has-children > a {
			padding: 12px 10px;
		}

		ul ul {
			display: none;
			background: #fff;
			position: absolute;
			width: 220px;
			left: 50%;
			margin-left: -110px;
			top: 45px;
			z-index: 99999;
			border: 1px solid #eee;
			border-radius: 3px;

			&:before {
				position: absolute;
				top: -8px;
				left: 50%;
				margin-left: -8px;
				border-left: 8px solid rgba(0, 0, 0, 0);
				border-right: 8px solid rgba(0, 0, 0, 0);
				border-bottom: 8px solid #EEE;
				content: "";
			}

		}

		ul li:hover > ul {
			display: block;
		}

		ul ul li {
			display: block;
			margin: 0;
		}

		ul ul a {
			border-bottom: 1px solid #eee;
		}

		ul ul a,
		ul li:hover ul a {
			display: block;
			padding:12px 20px;
		}

		ul ul a:hover {
			background: #f6f6f6;
		}

		ul ul li:last-child a {
			border-bottom: none;
		}

		ul ul ul {
			margin: 0;
			left: 220px;
			top: -1px;

			&:before {
				display: none;
			}
		}

	}

	/* Social */
	.primary-navigation .social {

		> a {
			display: inline-block;
		}

		span {
			margin: 0;
			clip: rect(1px, 1px, 1px, 1px);
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
		}

		a:before {
			display: inline-block;
			font-family: 'focus-icons';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		a[href*="behance.com"]::before {
			content: '\f1b4';
		}

		a[href*="dribbble.com"]::before {
			content: '\f17d';
		}

		a[href*="facebook.com"]::before {
			content: '\f09a';
		}

		a[href*="flickr.com"]::before {
			content: '\f16e';
		}

		a[href*="github.com"]::before {
			content: '\f09b';
		}

		a[href*="linkedin.com"]::before {
			content: '\f0e1';
		}

		a[href*="pinterest.com"]::before {
			content: '\f0d2';
		}

		a[href*="plus.google.com"]::before {
			content: '\f0d5';
		}

		a[href*="instagr.am"]::before,
		a[href*="instagram.com"]::before {
			content: '\f16d';
		}

		a[href*="skype.com"]::before {
			content: '\f17e';
		}

		a[href*="spotify.com"]::before {
			content: '\f1bc';
		}

		a[href*="tumblr.com"]::before {
			content: '\f173';
		}

		a[href*="twitter.com"]::before {
			content: '\f099';
		}

		a[href*="vimeo.com"]::before {
			content: '\f194';
		}

	}

}
